/* Write your CSS code here */
.login-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 50px;
}
.login-logo {
  width: 150px;
}
.login-image-container {
  width: 50%;
}
.login-image-container img {
  width: 100%;
}
.main-login-form-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form-container {
  width: 300px;
  height: 400px;
  box-shadow: 2px 2px 2px 2px #475569;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form-container input,
label,
button {
  margin-top: 18px;
  padding: 5px 4px;
  outline: none;
}
.login-submit-button {
  background-color: #0967d2;
  color: #ffff;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}
input {
  background-color: #e2e8f0;
  padding: 9px 15px;
  border: none;
  outline: none;
  border-radius: 1px;
}
